html, body, div, span, img, applet, embed, canvas, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, u, i, s, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {background:none repeat scroll 0 0 transparent;border:0 none;font-size:100%;margin:0;outline:0 none;padding:0;}
body {line-height:1;}
ol, ul {list-style:none outside none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:none;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {border-collapse:collapse;border-spacing:0;}
html {height:100%;}
a:visited, a:hover, a:active, a:link{text-decoration: none; color: #E2E2E2;}


body {
	background:none repeat scroll 0 0 #282828;
	color: #E2E2E2;
	font: 16px Helvetica,"Helvetica Neue",Arial,sans-serif;
	padding: 30px;
}

h1 {
	font-size: 36px;
	text-transform: uppercase;
	line-height: 36px;
	letter-spacing: 1px;
	margin-left:-2px;
}

h1 a.active:hover, h2 a.active:hover, h3 a.active:hover, h4 a.active:hover
{
	color: #ECECEC;
	text-shadow:#ECECEC 0 0 2px ;
}


h2
{
	font-weight: bold;
	font-size: 60px;
}

h3
{
	font-size: 29px;
	line-height: 2em;
	margin-left: 0.08em;
}

h4
{
	font-size: 19px;
	line-height: 2em;
}

p
{
	letter-spacing:0.07em;
	line-height: 1.4em;
	width: 650px;
	margin: 0.7em 0;
}

p a:visited, p a:active, p a:link
{
	text-decoration: underline; color: #AAAAA2;
}

p a:hover
{
	text-decoration: underline; color: #CCCCC6;
}

a.active:hover
{
	color: #ECECEC;
	text-shadow: #AAAAAA 0 0 1px;
}

.inactive
{
	color: #5F5F5F;
}

.header-wrapper
{
	font-size:11px;
	height:100px;
	letter-spacing:2px;
}

#header-logo
{
	float: left;
}
#header-info
{
	float: right;
	font-size:49px;
	font-weight:bold;
	line-height:49px;
	text-transform:uppercase;
	height:52px;
	width: 500px;
	text-align: right;
}

div#content
{
	
	position: relative;
	min-height: 370px;
}

div#content .nav-wrapper
{
	position: absolute;
	top: 50%;
	margin-top: -134px;
	text-transform: uppercase;
	line-height: 89px;
	width: 100%;
}

div#content .nav-wrapper ul
{
	display:block;
	float:right;
	width:550px;
}

.footer-wrapper
{
	padding-bottom: 30px;
	position: absolute;
	margin-top:50px;
}

.footer-wrapper .nav-wrapper
{
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	letter-spacing:2px;
	display: block;
	float: left;
	width: 180px;
}

.clr
{
	clear: both;
}

/*Chrome font rendering hack*/
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	h1, h2, h3, h4 {text-shadow:#282828 0 0 1px;}

	a.active:hover {text-shadow:none; color: #FFFFFF;}
}

/* -- Gallery styles*/

#gallery-container
{
	width: 1000px;
	padding-right:30px;
}
#gallery-thumbs
{
	width: 343px;
	float: left;
}

ul.thumbs li {
	float:left;
	list-style:none outside none;
	margin:5px;
	padding:0;
}

ul.thumbs img
{
	border: none;
	display: block;
}

#gallery-thumbs a.thumb
{
	display: block;
	padding: 2px;
}

ul.thumbs
{
	clear:both;
	margin:0;
	padding:0;
}

ul.thumbs li.selected a.thumb
{
	background-color: #FFFFFF;
}

#gallery-picture
{
	float: right;
	width: 602px;
}
#gallery-slideshow
{
	float: right;
	width: 602px;
	height: 602px;
	margin-top:7px;
	position:relative;
}

#gallery-slideshow a.advance-link {
	display:block;
	text-align:center;
	line-height:602px;
	height:602px;
	width:602px;
}

#gallery-slideshow img {
	border:1px solid #CCCCCC;
	vertical-align: middle;
}

#gallery-slideshow span.image-wrapper {
	display:block;
	left:0;
	position:absolute;
	top:0;
}

div.pagination
{
	clear:both;
	height:22px;
}

div.pagination a, div.pagination span.current, div.pagination span.ellipsis
{
	font-size:13px;
	font-weight:bold;
	letter-spacing:2px;
	margin-right:2px;
	padding:4px 7px;
	vertical-align:baseline;
}

div.pagination span.current {
	background-color:#5F5F5F;
	color:#FFFFFF;
	font-weight:bold;
}

#gallery-thumbs .top
{
	border-bottom: 1px solid #5F5F5F;
}

#gallery-thumbs .bottom
{
	border-top: 1px solid #5F5F5F;
}

#gallery-controls
{
	clear: both;
	height: 22px;
	border-bottom: 1px solid #5F5F5F;
}

#gallery-controls .nav-controls a
{
	padding: 4px;
	font-size: 13px;
	font-weight:bold;
	letter-spacing:2px;
}

#gallery-controls .nav-controls a.next
{
	float: right;
}

#gallery-thumbs div.pagination a:hover, #gallery-controls .nav-controls a:hover
{
	color: #ECECEC;
	text-shadow: #FFFFFF 0 0 2px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	#gallery-thumbs div.pagination a:hover, #gallery-controls .nav-controls a:hover
	{
		color: #FFFFFF;
		text-shadow: none;
	}
}
/*-- Code example styles --*/

pre code span.highlight
{
	background-color: #444;
}


